<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitness</title>
    <link rel="icon" type="images/png" sizes="16x16" href="images/logo.png">
	<!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- owl carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Add fancyBox main JS and CSS files -->
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" media="screen" />
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- menu bar start-->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
	  		<a class="navbar-brand" href="index.html"><h1><img src="images/logo.png"></h1></a>
		</div>
	  	
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  	<ul class="nav navbar-nav navbar-right">
			    <li class="nav-item">
			      	<a class="nav-link home-icon" href="index.html"><img src="images/home.png"></a>
			    </li>
			    <li class="nav-item">
			      	<a class="nav-link" href="#Trainers">Trainers</a>
			    </li>
			    <li class="nav-item">
			      	<a class="nav-link" href="#Membership">Membership</a>
			    </li>
			    <li class="nav-item">
			      	<a class="nav-link" href="#Join">Join</a>
			    </li>
			    <li class="nav-item">
			      	<a class="nav-link" href="#Gallery">Gallery</a>
			    </li>
			    <li class="nav-item">
			      	<a class="nav-link" href="#Contact">Contact</a>
			    </li>
		    </ul>
		</div>
	</div>
</nav>
<!-- menu bar end-->

<!-- banner start-->
<section class="banner">
	<!-- style="background: url(images/logo.png);" -->
	<!-- Start Slider -->
  	<div class="slider">
    	<div class="container-fluid">
	      	<div class="row"> 
	        <!-- Carousel -->
	        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
	          <!-- Wrapper for slides -->
	          	<div class="carousel-inner">
	            	<div class="item active"> <img src="images/banner-01.png" alt="First slide"> </div>
	            	<div class="item"> <img src="images/banner-02.png" alt="Second slide"> </div>
	          	</div>
	     	</div>
    	</div>
    </div>
  	<!-- End Slider -->
	<div class="container banner-top">
		<div class="col-md-7 col-sm-12">
			<div class="banner-msg">FIND A LOCATION FOR PERSONAL TRAINING</div>
		</div>
		<div id="Join" class="join-form col-md-offset-1 col-md-4 col-sm-12">
			<img src="images/join-head.png">
			<form action="">
			  <div class="form-group inner-addon">
			    <input type="text" class="form-control" placeholder="Name:">
			    <i class="fa fa-user"></i>
			  </div>
			  <div class="form-group inner-addon">
			    <input type="email" class="form-control" placeholder="Email:">
			    <i class="fa fa-phone"></i>
			  </div>
			  <div class="form-group inner-addon">
			    <input type="email" class="form-control" placeholder="Phone:">
			    <i class="fa fa-envelope"></i>
			  </div>
			  <div class="form-group">
			  <textarea class="form-control" placeholder="Content:"></textarea>
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</section>

<!-- trainer start-->
<section id="Trainers" class="trainers">
	<div class="container">
		<h2 class="section-header text-center"><span>Trainers</span></h2>
		<div class="col-sm-12 col-md-4">
			<div class="inner-div">
				<div class="hexagon hexagon2">
				  <div class="hexagon-in1">
				    <div class="hexagon-in2" style="background: url(images/trainer1.png);"></div>
				  </div>
				</div>
				<p class="trainer-name">Jimi Voon</p>
				<p class="trainer-designation">Trainer</p>
				<div class="trainer-social text-center">
					<ul class="list-inline">
					  <li class="list-inline-item">
					  	<a href="#"><i class="fa fa-facebook"></i></a>
					  </li>
					  <li class="list-inline-item">
					  	<a href="#"><i class="fa fa fa-google-plus"></i></a>
					  </li>
					  <li class="list-inline-item">
					  	<a href="#"><i class="fa fa fa-twitter"></i></a>
					  </li>
					  <li class="list-inline-item">
					  	<a href="#"><i class="fa fa fa-linkedin"></i></a>
					  </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-4">
			<div class="inner-div">
				<div class="hexagon hexagon2">
				  <div class="hexagon-in1">
				    <div class="hexagon-in2" style="background: url(images/trainer2.png);"></div>
				  </div>
				</div>
				<p class="trainer-name">Jimi Voon</p>
				<p class="trainer-designation">Trainer</p>
				<div class="trainer-social text-center">
					<ul class="list-inline">
					  <li class="list-inline-item">
					  	<a href="#"><i class="fa fa-facebook"></i></a>
					  </li>
					  <li class="list-inline-item">
					  	<a href="#"><i class="fa fa fa-google-plus"></i></a>
					  </li>
					  <li class="list-inline-item">
					  	<a href="#"><i class="fa fa fa-twitter"></i></a>
					  </li>
					  <li class="list-inline-item">
					  	<a href="#"><i class="fa fa fa-linkedin"></i></a>
					  </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-4">
			<div class="inner-div">
				<div class="hexagon hexagon2">
				  <div class="hexagon-in1">
				    <div class="hexagon-in2" style="background: url(images/trainer3.png);"></div>
				  </div>
				</div>
				<p class="trainer-name">Jimi Voon</p>
				<p class="trainer-designation">Trainer</p>
				<div class="trainer-social text-center">
					<ul class="list-inline">
					  <li class="list-inline-item">
					  	<a href="#"><i class="fa fa-facebook"></i></a>
					  </li>
					  <li class="list-inline-item">
					  	<a href="#"><i class="fa fa fa-google-plus"></i></a>
					  </li>
					  <li class="list-inline-item">
					  	<a href="#"><i class="fa fa fa-twitter"></i></a>
					  </li>
					  <li class="list-inline-item">
					  	<a href="#"><i class="fa fa fa-linkedin"></i></a>
					  </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- membership start-->
<section id="Membership">
	<h2 class="section-header text-center"><span>Membership</span></h2>
	<div class="membership">
		<div class="container">
			<div class="col-md-4 col-sm-12">
				<div class="inner-div">
					<div class="membership-head" style="background: url(images/member1.png) no-repeat; background-size: 100%">
						<h3>Weekly</h3>
						<p>weekly <br> $32</p>
					</div>
					<div class="membership-list">
						<p>Fitness Center</p>
						<p>Fitness Center</p>
						<p>Fitness Center</p>
						<p>Fitness Center</p>
						<p>Fitness Center</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="inner-div">
					<div class="membership-head" style="background: url(images/member2.png); background-size: 100%">
						<h3>Weekly</h3>
						<p>weekly <br> $32</p>
					</div>
					<div class="membership-list">
						<p>Fitness Center</p>
						<p>Fitness Center</p>
						<p>Fitness Center</p>
						<p>Fitness Center</p>
						<p>Fitness Center</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="inner-div">
					<div class="membership-head" style="background: url(images/member3.png); background-size: 100%">
						<h3>Weekly</h3>
						<p>weekly <br> $32</p>
					</div>
					<div class="membership-list">
						<p>Fitness Center</p>
						<p>Fitness Center</p>
						<p>Fitness Center</p>
						<p>Fitness Center</p>
						<p>Fitness Center</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- gallery start-->
<section id="Gallery" class="gallery">
	<h2 class="section-header text-center"><span>Gallery</span></h2>
	<div class="container">
	<div>
        <!-- Nav tabs -->
        <ul role="tablist" class="nav nav-tabs tabs-style2">
            <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="gallery1" href="#gallery1">Gallery 1</a></li>
            <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="gallery2" href="#gallery2">Gallery 2</a></li>
            <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="gallery3" href="#gallery3">Gallery 3</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div id="gallery1" class="tab-pane active" role="tabpanel">
                <div class="col-md-3 col-sm-6">
                	<div class="imgs">
                		<a class="fancybox" href="images/img1.png" data-fancybox-group="gallery" title="">
                			<img class="img-responsive" src="images/img1.png">
                		</a>
                	</div>
                	<div class="img-details">
                		<h3>Masud Khan</h3>
                		<p>Personal Training Gyms, Personal Training Studio</p>
                	</div>
                </div>
                <div class="col-md-3 col-sm-6">
                	<div class="imgs">
                		<a class="fancybox" href="images/img2.png" data-fancybox-group="gallery" title="">
                			<img class="img-responsive" src="images/img2.png">
                		</a>
                	</div>
                	<div class="img-details">
                		<h3>Masud Khan</h3>
                		<p>Personal Training Gyms, Personal Training Studio</p>
                	</div>
                </div>
                <div class="col-md-3 col-sm-6">
                	<div class="imgs">
                		<a class="fancybox" href="images/img3.png" data-fancybox-group="gallery" title="">
                			<img class="img-responsive" src="images/img3.png">
                		</a>
                	</div>
                	<div class="img-details">
                		<h3>Masud Khan</h3>
                		<p>Personal Training Gyms, Personal Training Studio</p>
                	</div>
                </div>
                <div class="col-md-3 col-sm-6">
                	<div class="imgs">
                		<a class="fancybox" href="images/img4.png" data-fancybox-group="gallery" title="">
                			<img class="img-responsive" src="images/img4.png">
                		</a>
                	</div>
                	<div class="img-details">
                		<h3>Masud Khan</h3>
                		<p>Personal Training Gyms, Personal Training Studio</p>
                	</div>
                </div>
                <div class="col-md-3 col-sm-6">
                	<div class="imgs">
                		<a class="fancybox" href="images/img5.png" data-fancybox-group="gallery" title="">
                			<img class="img-responsive" src="images/img5.png">
                		</a>
                	</div>
                	<div class="img-details">
                		<h3>Masud Khan</h3>
                		<p>Personal Training Gyms, Personal Training Studio</p>
                	</div>
                </div>
                <div class="col-md-3 col-sm-6">
                	<div class="imgs">
                		<a class="fancybox" href="images/img6.png" data-fancybox-group="gallery" title="">
                			<img class="img-responsive" src="images/img6.png">
                		</a>
                	</div>
                	<div class="img-details">
                		<h3>Masud Khan</h3>
                		<p>Personal Training Gyms, Personal Training Studio</p>
                	</div>
                </div>
            </div>
            <div id="gallery2" class="tab-pane" role="tabpanel">
                <div class="col-md-3 col-sm-6">
                	<div class="imgs">
                		<a class="fancybox" href="images/img5.png" data-fancybox-group="gallery" title="">
                			<img class="img-responsive" src="images/img5.png">
                		</a>
                	</div>
                	<div class="img-details">
                		<h3>Masud Khan</h3>
                		<p>Personal Training Gyms, Personal Training Studio</p>
                	</div>
                </div>
                <div class="col-md-3 col-sm-6">
                	<div class="imgs">
                		<a class="fancybox" href="images/img4.png" data-fancybox-group="gallery" title="">
                			<img class="img-responsive" src="images/img4.png">
                		</a>
                	</div>
                	<div class="img-details">
                		<h3>Masud Khan</h3>
                		<p>Personal Training Gyms, Personal Training Studio</p>
                	</div>
                </div>
                <div class="col-md-3 col-sm-6">
                	<div class="imgs">
                		<a class="fancybox" href="images/img5.png" data-fancybox-group="gallery" title="">
                			<img class="img-responsive" src="images/img5.png">
                		</a>
                	</div>
                	<div class="img-details">
                		<h3>Masud Khan</h3>
                		<p>Personal Training Gyms, Personal Training Studio</p>
                	</div>
                </div>
                <div class="col-md-3 col-sm-6">
                	<div class="imgs">
                		<a class="fancybox" href="images/img2.png" data-fancybox-group="gallery" title="">
                			<img class="img-responsive" src="images/img2.png">
                		</a>
                	</div>
                	<div class="img-details">
                		<h3>Masud Khan</h3>
                		<p>Personal Training Gyms, Personal Training Studio</p>
                	</div>
                </div>
            </div>
            <div id="gallery3" class="tab-pane" role="tabpanel">
                <div class="col-md-3 col-sm-6">
                	<div class="imgs">
                		<a class="fancybox" href="images/img3.png" data-fancybox-group="gallery" title="">
                			<img class="img-responsive" src="images/img3.png">
                		</a>
                	</div>
                	<div class="img-details">
                		<h3>Masud Khan</h3>
                		<p>Personal Training Gyms, Personal Training Studio</p>
                	</div>
                </div>
                <div class="col-md-3 col-sm-6">
                	<div class="imgs">
                		<a class="fancybox" href="images/img1.png" data-fancybox-group="gallery" title="">
                			<img class="img-responsive" src="images/img1.png">
                		</a>
                	</div>
                	<div class="img-details">
                		<h3>Masud Khan</h3>
                		<p>Personal Training Gyms, Personal Training Studio</p>
                	</div>
                </div>
            </div>
        </div>
    </div>
	</div>
</section>

<!-- contact start -->
<section id="Contact" class="contact">
	<h2 class="section-header text-center"><span>Conatct With Us</span></h2>
	<div class="container">
		<div class="col-md-offset-3 col-md-6 col-sm-12">
			<form action="">
				<div class="form-group">
				<input type="text" class="form-control" placeholder="USERNAME:">
				</div>
				<div class="form-group">
				<input type="email" class="form-control" placeholder="EMAIL:">
				</div>
				<div class="form-group">
				<textarea class="form-control" placeholder="COMMENT:"></textarea>
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</section>

<!-- footer start -->
<footer>
	<div class="container">
		<div class="col-md-4 col-sm-12">
			<p>follow us</p>
			<ul class="list-inline">
			  <li class="list-inline-item">
			  	<a href="#"><i class="fa fa-facebook"></i></a>
			  </li>
			  <li class="list-inline-item">
			  	<a href="#"><i class="fa fa fa-google-plus"></i></a>
			  </li>
			  <li class="list-inline-item">
			  	<a href="#"><i class="fa fa fa-twitter"></i></a>
			  </li>
			  <li class="list-inline-item">
			  	<a href="#"><i class="fa fa fa-linkedin"></i></a>
			  </li>
			</ul>
		</div>
		<div class="text-center col-md-4 col-sm-12">
			<ul class="list-inline">
			  <li class="list-inline-item">
			  	<a href="index.html">Home</a>
			  </li>
			  <li class="list-inline-item">
			  	<a href="#Join">Join</a>
			  </li>
			  <li class="list-inline-item">
			  	<a href="#Membership">Membership</a>
			  </li>
			</ul>
			<p>Contact@slicklaunch.com</p>
		</div>
		<div class="col-md-offset-1 col-md-3 col-sm-12">
			<p>Subscriber</p>
			<form action="">
				<div class="form-group">
				<input type="email" class="form-control" placeholder="Your Mail">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
	<div id="Copyright">Copyright © 2014 Atique.com</div>
</footer>

<!-- jquery plugin -->
<script src="js/jquery.min.js"></script>
<!-- custom js -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.js"></script>
<script src="js/custom.js"></script>
<script src="js/owl.carousel.min.js"></script>
</body>

</html>
