@font-face {
    font-family: 'Arial Rounded MT';
    src: url('ArialRoundedMTBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

